<div data-question-id=<%=@question_id%> class="question">
  <input type='text' placeholder='enter question here' name="questions[]">
  <button class="add_choices">Add New Choice</button>
  <button class="remove_choices">Remove Choice</button>
  <button class="remove_questions">Remove Question</button>
</div>
