/**************LAYOUT**************/
header {
  margin: 0 0 5% 0;
  padding: .75%;
  display: inline-block;
  width: 100%;
}
header h1{
  font-size: 2em;
}

header img{
  max-width: 7%;
  display: inline-block;
  float: left;
}

header a{
  text-decoration: none;
}

nav {
  display: inline;
  float: right;
  margin-top: 2%;
  width: 10%;
}

nav a {
  float: left;
  margin: 0 3%;
}

#sasquatch_thanks {
  display: inline-block;
  text-align: center;
  margin: 0 25%;
  width: 40%;
}

/**************INDEX**************/


.container {
  display: inline-block;
  width: 50%;
  margin: 0 25%;
}

.index_forms {
  display: inline-block;
  width: 49%;
}

.index_forms input{
  margin: 1%;
  display: inline-block;
  width: 75%;
  text-align: center;
}

.index_forms button{

}
/**************FOOTER**************/
footer {
  position: absolute;
  bottom:0;
  width: 100%;
}

footer p{
  position: relative;
  display: inline;
  left: 40%;
}
/**************COLORS**************/

header, footer {
  background: #78be20; /* pantone 368 C*/
}

header a, footer{
  color: #fff;
}

nav a:hover{
  color: #ffc658; /* pantone 141 C */
}


/**************RESPONSIVE**************/

