<% if current_user %>
  <%if current_user.created_surveys%>
    <ul>
      <%current_user.created_surveys.each do |survey|%>
        <a href="/surveys/<%=survey.id%>"><li><%= survey.title%></li></a>
      <%end%>
    </ul>
  <%end%>
<%end%>
<form action="/surveys" method="post">
  <input name="title" type="text" placeholder="survey title">
  <input type="submit" value="Create New Survey">
</form>
