<h2>Let's Build This Survey, Newb</h2>
<%= @survey.title%>


<div id="questions_block">
  <button class="add_questions">Add New Question</button>
  <form id="question_form" action='/questions' method="post">
    <input type='submit'>
  </form>
</div>
