<form action='/questions' method="post">
  <input type='text' placeholder='enter question here' name="question[]">
  <input type='text' placeholder='enter choice here' name="choice[]">

  <button>Add New Question</button>
  <button>Add New Choice</button>

  <input type='submit'>
</form>
