<div class="container">
  <div id="login_form" class="index_forms">
    <form method="post" action="/login">
      <input type="text" name="email" placeholder="enter email">
      <input type="text" name="password" placeholder="enter password">
      <input type="submit" value="login">
    </form>
  </div>

  <div id="signup_form" class="index_forms">
    <form method="post" action="/users/new">
      <input type="text" name="email" placeholder="enter email">
      <input type="text" name="password" placeholder="choose password">
      <input type="submit" value="sign up!">
    </form>
  </div>
</div>

